<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>F:\TROYLITESQL\ACCSYSTEM.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TROY2013" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TROY2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TROY2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TROY2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VASI2013" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VASI2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VASI2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VASI2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VASI2014" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VASI2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VASI2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VASI2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SAT2014" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\SAT2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SAT2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\SAT2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SAM2014" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\SAM2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SAM2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\SAM2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KT2013" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KT2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KT2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KT2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PN2013" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\PN2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PN2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\PN2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KK2013" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KK2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KK2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KK2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KS2013" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KS2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KS2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KS2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WS2013" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WS2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WS2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WH2013" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WH2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WH2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WH2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HO2013" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\HO2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HO2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\HO2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IB2013" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\IB2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IB2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\IB2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TK2013" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TK2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TK2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TK2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VN2013" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VN2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VN2013_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VN2013.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KT2014" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KT2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KT2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KT2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PN2014" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\PN2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PN2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\PN2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KK2014" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KK2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KS2014" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KS2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KS2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\KS2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WS2014" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WS2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WS2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WS2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WH2014" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WH2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WH2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\WH2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HO2014" Order="22" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\HO2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HO2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\HO2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IB2014" Order="23" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\IB2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IB2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\IB2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TK2014" Order="24" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TK2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VN2014" Order="25" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VN2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VN2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\VN2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BENIT1" Order="26" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\BENIT1.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BENIT1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\BENIT1.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AK2014" Order="27" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\AK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AK2014_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\AK2014.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DEMO1" Order="28" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\DEMO1.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DEMO1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\DEMO1.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DEMO2" Order="29" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\DEMO2.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DEMO2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\DEMO2.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BENIT" Order="30" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\BENIT.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BENIT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\BENIT.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TEST" Order="31" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TEST.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TEST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\TEST.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DEMO" Order="32" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=TROYPLUS\TROYDBEXPRESS;Initial Catalog=TROYLITE;Persist Security Info=True;User ID=sa;Password=nCTEYE6IjI6zs2HXbKtr1FbSApyoRSl9YDUdcg2M8/4=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DEMO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=TROYPLUS\TROYDBEXPRESS;Initial Catalog=TROYLITE;Persist Security Info=True;User ID=sa;Password=nCTEYE6IjI6zs2HXbKtr1FbSApyoRSl9YDUdcg2M8/4=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="REAL" Order="33" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\real.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\REAL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\ACCSYSTEM\App_Data\real.mdb;Persist Security Info=True;Jet OLEDB:Database Password=j9MBWTeB7meRuELFLwlkVltsY7xhiYEe15AcFgrljtk=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TROYLITEConnectionString" Order="34" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=TROYPLUS\TROYDBEXPRESS;Initial Catalog=TROYLITE;Persist Security Info=True;User ID=sa;Password=troy@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TROYLITEConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=TROYPLUS\TROYDBEXPRESS;Initial Catalog=TROYLITE;Persist Security Info=True;User ID=sa;Password=troy@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AK2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BENIT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BENIT1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEMO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEMO1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEMO2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HO2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HO2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IB2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IB2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KK2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KK2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KS2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KS2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KT2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KT2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PN2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PN2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)REAL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SAM2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SAT2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TEST-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TK2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TK2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TROY2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VASI2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VASI2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VN2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VN2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WH2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WH2014-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS2013-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WS2014-Web.config Connection String" />
  </ItemGroup>
</Project>